[package]
name = "embedded-websocket"
version = "0.9.0"
authors = ["David Haig"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/ninjasource/embedded-websockets.git"
description = "A lightweight websocket library for embedded systems (no_std)"
keywords = ["websockets", "websocket", "embedded", "no_std"]
categories = ["embedded", "no-std", "network-programming"]
readme = "README.md"

[dependencies]
sha1 = "0.10.1"
heapless = "0.7.14"
byteorder = { version = "1.4.3", default-features = false }
httparse = { version = "1.7.1", default-features = false }
rand_core = "0.6.3"
base64 = { version = "0.13.0", default-features = false }

[dev-dependencies]
rand = "0.8.5"

# see readme for no_std support
[features]
default = ["std"]
# default = []
std = []
